COOKIE_SECRET=your_cookie_secret_here
APP_URL=https://or.erickr.dev

SQLITE_FILE=./opencode-manager.db
SESSIONS_DIR=./sessions
OPENCODE_PORT=4096

GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
